<p id="warning">Please be aware that the comments have not been reviewed, therefore there might be rude or inapproriate comments. <button id="agree-comments">OK</button> </p>
<div class="comment-sentiment">
    <h1 id="title">YouTube Video Comment Sentiment labelling</h1>
    {{#if commentinfo}}
        <a id="videoTitle" href="https://www.youtube.com/watch?v={{commentinfo.videoid}}">{{commentinfo.title}}</a>
        <div class="comment-body">
            {{commentinfo.body}}
        </div>
        <div class="help-info">
            <h4>For quick input:</h4>
            <p><b>Key 1</b> select positive</p>
            <p></p><b>Key 2</b> select neutral</p>
            <p></p><b>Key 3</b> select negative</p>
            <p></p><b>Key 4</b> select invalid</p>
            <p></p><b>Key S</b> skip</p>
            <p></p><b>Enter</b> Submit sentiment</p>
        </div>
        <form id="sentiment-form" action="/" method="POST">
            <div class="sentiment-inputs">
                <div>
                    <input class="sentiment-input first" type="radio" name="sentiment" id="sentiment_positive" value="1">
                    <label for="sentiment_positive">Positive</label>
                </div>
                <div>
                    <input class="sentiment-input" type="radio" name="sentiment" id="sentiment_neutral" value="0">
                    <label for="sentiment_neutral">Neutral</label>
                </div>
                <div>
                    <input class="sentiment-input" type="radio" name="sentiment" id="sentiment_negative" value="-1">
                    <label for="sentiment_negative">Negative</label>
                </div>
                <div>
                    <input class="sentiment-input last" type="radio" name="sentiment" id="sentiment_invalid" value="2">
                    <label for="sentiment_invalid">Invalid</label>
                </div>
            </div>
            <div class="sentiment-form_actions">
                <button id="skip" class="button button-secondary">Skip</button>
                <button class="button button-primary" type="submit">Submit</button>
            </div>
        </form>


        <div>
            <h2>Information</h2>
            <p>As part of my degree project, I am building a YouTube video comment sentiment dataset. In order to ease the labelling of the data, I created this tool. Read on to learn how to use it and what it's about.</p>
            <h4>What is a comment sentiment?</h4>
            <p>A comment sentiment is a comment's view or opinion about the video and its content.</p>
            <h4>How do I use this tool?</h4>
            <p>You will be presented with a comment and a video link that the comment was posted on. If you think the comment is positive towards the video, mark it as <b>positive</b>. If the comment seems negative, mark it as <b>negative</b>. There will be comments where the sentiment isn't clear, for example, the author of the comment is pointing something out but it's unclear what opinion they hold towards a video. In that case, a <b>neutral</b> mark is appropriate. If the comment consists of only a link or characters, or it's not in English, it should be marked as <b>invalid.</b> Finally, if you can't decide, you have an option to skip the comment.</p>
            <p>Thank you for your help! If you have any questions, please <a href="mailto:ik222gp@student.lnu.se">email me</a>.</p>
        </div>
        <script>
            let agreed = window.localStorage.getItem("agreed")
            if (agreed == null) {
                console.log("test")
                document.getElementById("warning").style.display = "block"
            }
            const select = (n) => {
                Array.from(document.getElementsByClassName('sentiment-input')).map((buttons, index) => {
                    buttons.checked = n === index
                })
            }

            const reload = () => {
                window.location.reload(true)
            }

            document.getElementById("skip").addEventListener("click", event => {
                event.preventDefault()
                reload()
            })

            // Key      KeyCode
            // 1        49
            // 2        50
            // 3        51
            // 4        52
            // s        83
            // enter    13
            window.addEventListener('keydown', event => {
                switch (event.keyCode) {
                    case 49:
                        select(0)
                        break
                    case 50:
                        select(1)
                        break
                    case 51:
                        select(2)
                        break
                    case 52:
                        select(3)
                        break
                    case 83:
                        reload()
                        break
                    case 13:
                        document.getElementById("sentiment-form").submit();
                        break;
                    default:
                        break
                }
            })

            document.getElementById("agree-comments").addEventListener("click", event => {
                window.localStorage.setItem("agreed", "true")
                document.getElementById("warning").style.display = "none"

            })
        </script>
    {{else}}
        There was an error
    {{/if}}

</div>